
.container {
    // max-width: 1200px;
    padding: 94px 15px 94px 15px;
    margin: 0px auto 0px auto; 
    @media (min-width: 480px) {
        width: 480px;
    } 
    @media (min-width: 768px) {
        width: 768px;
    }
    @media (min-width: 1200px) {
        width: 1200px;
    }
}

// header .container,
// footer .container {
//     padding-top: 0px;
//     padding-bottom: 0px;
// }

header,
footer {
    .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

