.team {
    text-align: center;
    background-color: $main-6-color;

    &-list {
        display: flex;
        height: 422px;
    }

    &-item {
        align-items: center;
        background-color: $main-3-color;
        border-radius: 4px;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    }    
}

.team-item {
    &-title {
        padding-top: 30px;
        font-weight: 500;
    }

    &-title,
    &-description {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
    }

    &-description {
        padding-top: 10px;
        padding-bottom: 16px;
        color: $main-4-color;
    }
}
.team-item:not(:last-child) {
    margin-right: 30px;
}